/*Team*/
 h1 {
    font-size: 2rem;
    margin: 0;
  }
  .team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
  }
  .team-member {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
  }
  .team-member img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
  .member-info {
    text-align: center;
    padding: 15px 20px;
  }
  .member-name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2px;
  }
  .member-role {
    font-family: 'Times New Roman', Times, serif;
    color: #BB2C2C;
    margin-bottom: 2px;
  }
  .member-bio {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    line-height: 1.4em;
  }
  /*-------------*/

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 1.0s ease;
}

header.hide-on-scroll {
  transform: translateY(-100%);
}
/*home-image*/
.homeimage-container {
  position: relative;
  overflow: hidden;
  width: 100%; 
  height: 250px;
  background-image: url('homeimage.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'Calgary';
  src: url('Calgary_DEMO.ttf') format('truetype');
}

.text-overlay {
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(3vw + 1rem); 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  letter-spacing: 0.15em;
  line-height: 1.2;
  width: 90%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

/* Back, More-Article Button */
.backbutton {
  display: flex;
  justify-content: center;
  margin: 30px 15px 0 0;
}
#back-button, .more-articles {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Kepler', serif;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#back-button:hover, .more-articles:hover {
  background-color: #737373;
}  

/*Font*/
.article-writer, .article-credit, .article-editor,
.footer-about h2, .sitemap h3,
.main-contact h2, .about h2, .about h6 {
color: #BB2C2C;
font-family: 'kepler-std', serif;
}
.about h6 {
  font-size: 35px;
}
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 900px) {
* {
box-sizing: border-box;
}
body {
margin: 0;
overflow-x: hidden;
background: #000;
}
.hidden, #mobile-menu.hidden, .visible {
display: none;
}
a {
text-decoration: none;
color: inherit;
cursor: pointer;
}

.main {
  margin: 0 30px;
  padding: 30px 10px 0;
}

/* Contact Links */
.main-contact a, .contact a {
color: #BB2C2C;
}
.main-contact a:hover, .contact a:hover {
color: #CACACA;
}

/* Headings & Text */
.allarticles h2 {
color: #000;
font-family: 'kepler-std', serif;
}
.contact p, .about p, .main-contact p,
.footer-about p, .sitemap ul li a,
.team-member p {
font-size: 20px;
font-family: 'kepler-std', serif;
}
.articles-content {
font-family: 'Times New Roman', Times, serif;
}

/* Article Layout */
.article-fullscreen {
text-align: left;
padding: 0;
}
.article-fullscreen h1 {
font-size: 30px;
}
.article-fullscreen img {
margin: 20px 0 5px;
}
.article {
display: flex;
flex-direction: column;
padding: 0;
border-bottom: 1px solid #ccc;
}
.article-image, .home-image {
width: 100%;
object-fit: cover;
}
.article-image {
height: 200px;
margin-top: 10px;
}
.home-image {
height: 225px;
}
.article-category {
margin-top: 15px;
font-size: 15px;
color: #BB2C2C;
}
.article-title {
font-size: 22px;
font-weight: bold;
color: #000;
font-family: 'kepler-std', serif;
padding-bottom: 5px;
}
.article-description {
margin-top: 5px;
}
.image-container {
display: flex;
justify-content: center;
margin-bottom: 5px;
}

/* Header */
header {
width: 100%;
background: #000;
display: flex;
gap: 15px;
padding-top: 5px;
}

.logo img {
width: 300px;
height:100%;
padding: 0 0 10px;
}

/* Navigation */
#desktop-menu {
display: none;
}
#mobile-menu {
display: none;
position: fixed;
top: 0; left: 0;
width: 100%; height: 100%;
background: #000;
z-index: 1000;
flex-direction: column;
justify-content: center;
align-items: center;
}
#mobile-menu.visible {
display: flex;
}

#mobile-menu ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
}
#mobile-menu li {
margin-bottom: 15px;
}
#mobile-menu a {
  text-decoration: none;
font-family: 'Kepler', serif;
font-size: 24px;
color: #fff;
}
#mobile-menu li a:hover {
color: #BB2C2C;
}

#close-button {
position: absolute;
top: 50px; left: 30px;
background: none;
border: none;
font-size: 30px;
color: #fff;
cursor: pointer;
}
#close-button:hover {
color: #BB2C2C;
}
.hamburger {
background: none;
border: none;
cursor: pointer;
margin-left: 10px;
}
.hamburger img {
height: 35px;
}

/* Footer */
footer {
background: #000;
padding: 30px 0;
width: 100%;
}
.footer-container {
max-width: 100%;
margin: 0 5px;
padding: 15px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.footer-logo {
padding-top: 20px;
}
.social-icons {
display: flex;
gap: 15px;
justify-content: center;
padding: 15px 0 20px;
}
.social-icons img {
width: 40px;
}
.footer-about, .sitemap {
font-family: 'Kepler', serif;
margin: 0 20px;
text-align: center;
}

.footer-about h2 {
  color: #BB2C2C;
}

.footer-about p,
.sitemap ul li a {
font-size: 20px;
color: #fff;
text-decoration: none;
}

.sitemap ul {
list-style: none;
padding: 0;
}
.sitemap li {
margin-bottom: 5px;
padding: 2px;
}
.sitemap li a:hover {
  color: #BB2C2C;
}
.copyright {
text-align: center;
font-size: 15px;
color: #BB2C2C;
margin-top: 10px;
}

/* Sections */
.school-news h1, .local-news h1, .features h1,
.allarticles h1, .contact h2, .about h4, .express h2 {
font-size: 40px;
font-family: 'kepler-std', serif;
text-align: center;
color: #BB2C2C;
margin-bottom: 15px;
}

.main-contact, .about, .contact {
text-align: center;
}
.more-articles {
display: block;
margin: 20px auto;
}
}

/*-----------------------------------------------------------------------------------*/

@media screen and (min-width: 901px) {
  /* Header & Navigation */
  header {
    text-align: center;
    background: #000;
    width: 100%;
    display: flex;
    gap: 220px;

  }
  .main {
    padding-top: 20px;
    margin: 0 50px;
  }
  .logo img {
    width: 400px;
    padding-left: 50px;
    height: 100%;
  }
  .hamburger, .close-button, #mobile-menu {
    display: none;
  }

  /* Desktop Menu */
  #desktop-menu {
  display: flex;
  align-items: center;
  background: #000;
  padding: 0;
}
  #desktop-menu ul {
    display: flex;
    list-style: none;
    padding-top: 15px;
  }
  #desktop-menu li {
    flex-grow: 1;
  }

  #desktop-menu li a {
  font-family: 'Kepler', serif;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin: 0 40px;
  white-space: nowrap;
}
  
  #desktop-menu li a:hover {
    color: #BB2C2C;
  }

  /* Section Titles */
  .latest h2,
  .features h2 {
    text-align: left;
    font-weight: 0;
    font-size: 30px;
    font-family: 'kepler-std', serif;
    margin-bottom: 0;
  }

  /* Footer */
  footer {
    background: #000;
    padding: 40px 0;
  }
  .footer-container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
  .footer-logo {
    align-items: center;
    padding-top: 75px;
    flex: 1;
  }
  .social-icons {
    display: flex;
    gap: 15px;
    padding: 15px 0 0 80px;
  }
  .social-icons img {
    width: 35px;
  }
  .footer-about {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-about h2 {
    font-size: 22px;
    color: #BB2C2C;
    font-family: 'kepler-std', serif;
    margin-bottom: 10px;
  }
  .footer-about p {
    font-size: 20px;
    font-family: 'kepler-std', serif;
    color: #fff;
    padding-top: 15px;
    margin-bottom: 10px;
  }
  .sitemap {
    flex: 1;
    text-align: center;
  }
  .sitemap h3 {
    font-size: 22px;
    font-family: 'kepler-std', serif;
    color: #BB2C2C;
    padding: 0 0 13px 25px;
    margin-bottom: 10px;
  }
  .sitemap ul {
    list-style: none;
  }
  .sitemap li {
    margin-bottom: 5px;
    padding: 2px;
  }
  .sitemap li a {
    font-size: 18px;
    color: #fff;
    font-family: 'kepler-std', serif;
    text-decoration: none;
  }

  .sitemap li a:hover {
    color: #BB2C2C;
  }
  .copyright {
    text-align: center;
    font-size: 14px;
    color: #BB2C2C;
    margin-top: 20px;
    padding-left: 50px;
  }

  /* Main Contact Section */
  .main-contact, .contact {
    text-align: center;
    padding-right: 20px;
    align-items: center;
  }
  .main-contact h2, .contact h2 {
    font-size: 35px;
    font-family: 'kepler-std', serif;
    font-weight: lighter;
    color: #BB2C2C;
    margin-left: 20px;
    padding-bottom: 0;
  }
  .main-contact p, .contact p, .about p {
    font-size: 20px;
    font-family: 'kepler-std', serif;
    font-weight: lighter;
  }

  /* Contact Links */
.main-contact a, .contact a {
  color: #BB2C2C;
  }
  .main-contact a:hover, .contact a:hover {
  color: #CACACA;
  }

  /* About Page */
  .about h2 {
    font-size: 25px;
    font-family: 'kepler-std', serif;
    color: #BB2C2C;
    text-align: left;
    margin-bottom: 15px;
  }
  .about h3 {
    font-size: 25px;
    font-family: 'kepler-std', serif;
    color: #000;
    text-align: left;
    font-weight: lighter;
  }
  .about h6 {
    font-size: 35px;
    font-family: 'kepler-std', serif;
    color: #BB2C2C;
    text-align: center;
    margin-bottom: 15px;
  }

  hr {
    width: 100%;
    margin: 10px 0;
  }

  /* Article Grids */
  #home-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 20px;
    max-width: 1400px;
    margin: 0 auto;
  }

#home .article-image {
  width: 100%;
  height: 300px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

#home .article {
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    text-decoration: none;
  }
  #home .article:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  #home .article-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  #home .article-category {
    font-size: 18px;
    font-family: 'kepler-std', serif;
    color: #BB2C2C;
    margin-bottom: 8px;
    text-align: left;
    font-weight: normal;
  }
  #home .article-title {
    font-size: 24px;
    font-family: 'kepler-std', serif;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    text-align: left;
  }
  #home .article-description {
    font-size: 18px;
    font-family: 'kepler-std', serif;
    color: #333;
    text-align: left;
    margin-top: 5px;
    flex-grow: 1;
  }

  /* Other Article Pages */
  #schoolnews-articles .article,
  #localnews-articles .article,
  #all-articles .article {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 0;
    gap: 50px;
  }
  
  #schoolnews-articles .article-content,
  #localnews-articles .article-content,
  #all-articles .article-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #schoolnews-articles .article-title,
  #localnews-articles .article-title,
  #all-articles .article-title {
    font-size: 28px;
    font-family: 'kepler-std', serif;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #schoolnews-articles .article-category,
  #localnews-articles .article-category,
  #all-articles .article-category {
    font-size: 20px;
    font-family: 'kepler-std', serif;
    color: #BB2C2C;
    margin-bottom: 10px;
  }
  #schoolnews-articles .article-description,
  #localnews-articles .article-description,
  #all-articles .article-description {
    font-size: 18px;
    font-family: 'kepler-std', serif;
    color: #333;
  }
  #schoolnews-articles .article-image,
  #localnews-articles .article-image,
  #all-articles .article-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
    align-self: flex-start;
  }

  /* Full Article View */
  .article-fullscreen {
    width: 52%;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
  }
  .article-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .article-image {
    width: 100%;
    height: 450px;
  }

  .article-title {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    font-family: 'kepler-std', serif;
    padding-bottom: 3px;
    }

  /* Section Headings */
  .school-news h1,
  .local-news h1,
  .features h1,
  .allarticles h1,
  .contact h2,
  .about h4, 
  .express h2 {
    font-size: 50px;
    font-family: 'kepler-std', serif;
    color: #BB2C2C;
    text-align: center;
    margin-bottom: 15px;
  }

  /* More Articles Button */
  .more-articles {
    margin: 20px auto;
    display: block;
  }
}